{% extends "blog/base.html" %}
{% load static %}
{% load blog_extras %}
{% block title %}
    {{ article.title }}
{% endblock title %}
{% block keywords %}{% keywords_to_str article %}{% endblock keywords %}
{% block description %}{{ article.summary }}{% endblock description %}

{% block content %}
    <div class="wrapper">
        <main>
            <h2 class="place">您现在的位置是：<a href="{% url 'blog:index' %}">网站首页&gt;</a> <a href="#">{{ article.title }}</a>
            </h2>
            <div class="infosbox">
                <div class="newsview">
                    <h3 class="news_title">{{ article.title }}</h3>
                    <div class="bloginfo">
                        <ul>
                            <li class="author">{{ article.author }}</li>
                            <li class="lmname">{{ article.category }}</li>
                            <li class="timer">{{ article.create_date }}</li>
                            <li class="view">
                                {{ article.views }}人已阅读
                            </li>
                        </ul>
                    </div>
                    <div class="tags">
                        {% for tag in article.tags.all %}
                            <a href="{% url 'blog:tag' tag.slug %}" target="_blank">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                    <div class="news_about"><strong>简介</strong>{{ article.summary }}...
                    </div>
                    <div class="news_con">
                        {{ article.body|safe }}
                    </div>
                </div>
                <div class="share">
                    <p class="diggit"><a style="cursor:pointer" onclick="validate_is_like(
                            '{% url 'blog:increase_likes' article.id %}',{{ article.id }},{{ article.likes }})">很赞哦！</a>(<b
                            id="likes_number">{{ article.likes }}</b>)
                    </p>
                </div>

                <div class="nextinfo">
                    <p>上一篇：<a
                            href="{{ article.get_pre.get_absolute_url }}">{{ article.get_pre.title|default:'已经是第一篇了' }}
                    </a></p>
                    <p>下一篇：<a
                            href="{{ article.get_next.get_absolute_url }}">{{ article.get_next.title|default:'已经是最后一篇了' }}</a>
                    </p>
                </div>
                <div class="otherlink">
                    <h2>相关文章</h2>
                    <ul>
                        {% for article in post_list %}
                            <li><a href="{% url 'blog:article_detail' article.slug %}"
                                   title="{{ article.title }}">{{ article.title }}</a></li>

                        {% endfor %}

                    </ul>
                </div>

                <div>
                    <form
                            action="{% url 'blog:post_comment' article.id %}"
                            method="POST"
                    >
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="body">
                                <strong>
                                    我也要发言：
                                </strong>
                            </label>
                            <div>
                                {{ comment_form.media }}
                                {{ comment_form.body }}
                            </div>
                        </div>
                        <!-- 提交按钮 -->
                        <button type="submit" class="btn btn-primary ">发送</button>
                    </form>
                </div>
                <!-- 显示评论 -->
                <h4>共有{{ comments.count }}条评论</h4>
                <div>
                    {% for comment in comments %}
                        <hr>
                        <p>

                            <span style="color: green">
                    {{ comment.created|date:"Y-m-d H:i:s" }}
                </span> 时说：
                        </p>
                        <pre style="font-family: inherit; font-size: 1em;">
{{ comment.body|safe }}</pre>
                    {% endfor %}
                </div>
            </div>
        </main>
        {% include 'blog/sidebar.html' %}
    </div>
    <script>
        $(".django-ckeditor-widget").removeAttr('style');
    </script>


    <script src="{% static 'blog/js/csrf.js' %}"></script>
    <script>
        // 点赞功能主函数
        function validate_is_like(url, id, likes) {
            // 取出 LocalStorage 中的数据
            let storage = window.localStorage;
            const storage_str_data = storage.getItem("my_blog_data");
            let storage_json_data = JSON.parse(storage_str_data);
            // 若数据不存在，则创建空字典
            if (!storage_json_data) {
                storage_json_data = {}
            }
            ;
            // 检查当前文章是否已点赞。是则 status = true
            const status = check_status(storage_json_data, id);
            if (status) {
                layer.msg('已经点过赞了哟~');
                // 点过赞则立即退出函数
                return;
            } else {
                // 用 Jquery 找到点赞数量，并 +1
                $('#likes_number').text(likes + 1);
            }
            // 用 ajax 向后端发送 post 请求
            $.post(
                url,
                // post 只是为了做 csrf 校验，因此数据为空
                {},
                function (result) {
                    if (result === 'success') {
                        // 尝试修改点赞数据
                        try {
                            storage_json_data[id] = true;
                        } catch (e) {
                            window.localStorage.clear();
                        }
                        ;
                        // 将字典转换为字符串，以便存储到 LocalStorage
                        const d = JSON.stringify(storage_json_data);
                        // 尝试存储点赞数据到 LocalStorage
                        try {
                            storage.setItem("my_blog_data", d);
                        } catch (e) {
                            // code 22 错误表示 LocalStorage 空间满了
                            if (e.code === 22) {
                                window.localStorage.clear();
                                storage.setItem("my_blog_data", d);
                            }
                        }
                        ;
                    } else {
                        layer.msg("与服务器通信失败..过一会儿再试试呗~");
                    }

                }
            );
        };

        // 辅助点赞主函数，验证点赞状态
        function check_status(data, id) {
            // 尝试查询点赞状态
            try {
                if (id in data && data[id]) {
                    return true;
                } else {
                    return false;
                }
            } catch (e) {
                window.localStorage.clear();
                return false;
            }
            ;
        };
    </script>
{% endblock content %}
