{% load static %}
<footer>
    <div class="footer">
        <div class="wxbox">
            <ul>
                <li><img src="{% static 'blog/images/mmqrcode1597044665429.png' %}"><span>我的微信</span></li>
                <li><img src="{% static 'blog/images/mmqrcode1597045074871.png' %}"><span>微信公众号</span></li>
            </ul>
        </div>
        <div class="bzjj">
            <h2>本站简介</h2>
            <p>GoogleSEO一些技巧,Python学习</p>
        </div>
        <div class="other">
            <h2>网站版权</h2>
            <p>本站所有主题/文章除标明原创外，均来自网络转载，版权归原作者所有，如果有侵犯到您的权益，请联系本站删除，谢谢！</p>
            <p>&nbsp;</p>
{#            <p>备案号：粤ICP备15025043号</p>#}
        </div>
    </div>
</footer>